
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FCC Back-end Tester</title>
    <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <main>
      <h1>
        <img src="https://cdn.hyperdev.com/us-east-1%3A93ce4fee-daa6-400c-afd5-1dcc6154f420%2FT-64.png" />
        FCC Back-end Tester<br><small>v3.0.2-alpha</small>
      </h1>
      <form>
        <input id="url" type="text" placeholder="Enter URL for a HyperDev Project..." autofocus>
        <select id="APIType">

        </select>
        <input id="runTests" type="button" value="Next Test [*]">
      </form>

      <section id="testAPIs">
        <h4>Challenges  (<a href='' id='projLink'>link to project</a>)</h4>
        <ul id="links"></ul>
      </section>

      <section>
        <div id="loadingSpinner" class="spinner hidden"></div>
        <div id="testResults" class="hidden"></div>
      </section>
    </main>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/4.1.0/rx.lite.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chai/3.5.0/chai.min.js"></script>
    <script src="main.js"></script>
    <script src="tests.js"></script>
  </body>
</html>
